@keyframes lds-gear {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes lds-gear {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.lds-gear > div {
  -webkit-transform-origin: 100px 100px;
  transform-origin: 100px 100px;
  -webkit-animation: lds-gear 6.8s infinite linear;
  animation: lds-gear 6.8s infinite linear;
  position: relative;
}
.lds-gear > div div {
  position: absolute;
  width: 26px;
  height: 212px;
  background: #ffffff;
  left: 100px;
  top: 100px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.lds-gear > div div:nth-child(1) {
  width: 152px;
  height: 152px;
  border-radius: 50%;
}
.lds-gear > div div:nth-child(3) {
  -webkit-transform: translate(-50%, -50%) rotate(30deg);
  transform: translate(-50%, -50%) rotate(30deg);
}
.lds-gear > div div:nth-child(4) {
  -webkit-transform: translate(-50%, -50%) rotate(60deg);
  transform: translate(-50%, -50%) rotate(60deg);
}
.lds-gear > div div:nth-child(5) {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
  transform: translate(-50%, -50%) rotate(90deg);
}
.lds-gear > div div:nth-child(6) {
  -webkit-transform: translate(-50%, -50%) rotate(120deg);
  transform: translate(-50%, -50%) rotate(120deg);
}
.lds-gear > div div:nth-child(7) {
  -webkit-transform: translate(-50%, -50%) rotate(150deg);
  transform: translate(-50%, -50%) rotate(150deg);
}
.lds-gear > div div:nth-child(8) {
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 50%;
}
.lds-gear {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
body, html
{
    font-family: "lato", sans-serif;
    margin:0px;
}
.row
 {
    margin-right: 7px !important;
    margin-left: 7px;
}
.form-group {
    margin-bottom: 1% !important;
}
.headClass
{
    width:100%;
    height: 80px;
    border: 1px solid red;
}
.control-label
{
	text-align:right !important;
	font-size:13px !important;
}
.form-control
{
	height:26px !important;  
}

.other
{
	background-color:white;
	padding:0px;
}
.errorCLass
{
	color:red;float:right !important;padding-top:3% !important;
}

a{
	
	
	}
	a:hover
	{
	color:white;
	text-decoration:none;
	}
	row
	{
	padding:0px !important; 
	margin:0px !important;
	}
	.table-bordered
	{
		border:1px solid #4e4e4e !important;
	}
	.myTip {
    position: relative !important;
    display: inline-block;
    z-index:1;
    border-bottom: 1px dotted black;
}

.myTip .tooltiptext {
    visibility: hidden;
    width: 250px;
    height:150px;
    background-color: #4e4e4e;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 30%;
    margin-left: -80px;
}

.myTip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: #4e4e4e transparent transparent transparent;
}

.myTip:hover .tooltiptext {
    visibility: visible;
}

.spinloader {
	
  border: 9px solid #f3f3f3 !important;
  border-radius: 50% !important;
  border-top: 9px solid black !important;
  width: 33px !important;
  height: 33px !important;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  padding:0px !important;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.container-fluid {
    padding-right: 0px 	!important;
    padding-left: 0px 	!important;
    margin-right: auto;
    margin-left: auto;
}
.pieChartCLass
{
	border-left:1px solid #4e4e4e;height:348px;
}
.scrollClass
{
    height:348px !important;overflow: scroll !important;
}
.testClass
{
	font-size:11px;
	font-weight:600;
}

.takeTestBox
{
    background:linear-gradient(to top,white,#e7e7e7);color:#000;margin: 3% 2% 0% 4%;border-radius:5px; 
}
.welocmeName
{
	color:#000;foni-weight:600 !important;letter-spacing:2px;
}

.headDiv
{
	background-color:#00a69c !important;
	height:60px;
}
.secdiv
{
	margin:0px;
}
.welcomeNote
{
	font-size:35px;
	letter-spacing:10px;
	text-align:center !important;
	padding-top:0.5%;
	color:#4e4e4e;
	
}
.logo
{
	width:200px !important;
	height:55px !important;
	float:right !important;
	margin-left:2%;
}
.logoHome
{
	width:200px !important;
	height:55px !important;
	float:left;
	margin-left:2%;
}
.login
{
	font-size:30px;
	text-align:center;
	padding-top:1% !important;
	font-weight:100;
}
.secdiv
{
	margin-top:1% !important;
	border-top:1px solid lightgray !important;border-bottom:1px solid lightgray !important;
	height:70px !important;
}
.thirddiv
{
	border:1px solid #00a69c;
	width:80%;
	margin-top:10px;
	border-radius:10px;
}
.new
{
	font-size:14px;
	padding-left:1% !important;
}
.spaceMargin
{
	margin-top:3% !important;
}
.admin
{
	padding-left:2%;
	margin-top:20px;
	font-size:30px;
	font-family:calibri;
	color:#ff6666;
	
}
.students
{
	
	margin-left:80px;
	margin-top:20px;
	font-size:30px;
	font-family:calibri;
	color:F44336;
}
.innerdiv
{
	height:250px;
	background-color:#323e60;
	width:1px;
	margin:auto;
	margin-top:20%;
	
	
}



	    .menuDiv{
	    margin-top:3.5%;
	    width:100%;
	    }


.email
{
	margin:10px 0px 0px 10px;
	width:90%;
	height:30px;
	padding-left:20px;
	border-top:0px solid red;
	border-left:0px solid red;
	border-right:0px solid red;
	border-bottom:1px solid #323e60;
}
.remember
{
	padding-left:8px;
	padding-top:10px;
}
.forgot
{
	float:right;
}
.sub
{
	margin:auto;
	display:block;
	margin-top:10%;
	width:30%;
	height:35px;
	border-radius:5px;
	background-color:#fff;
	color:#00a69c;
	font-size:16px;
	border:1px solid #00a69c;
}
.halfdiv
{
	
	width:100%;
}
.end
{
	text-align:right;
	color:#000;
	padding-top:2%;

	padding-right:10%;
}
.para
{
	font-size:30px;
	text-align:center;
}
.newstudent
{
	font-size:20px;
	color:white;
	
}
.click
{
	color:#F44336;
	padding-left:350px;
	
}
.enter
{
	margin-left:10px;	
}
.details
{
	color:#F44336;
	padding-left:15px;
}	
.but
{
	background-color:#323e60;
	border:1px solid #323e60;
	border-radius:10px;
	width:30%;
}
.register
{
	font-size:25px;
	color:#F44336;
	text-align:center;
}
.navClass
{
    width:100% !important;margin:auto;background-color:#00a69c !important;border-color:#00a69c !important;
}
.navbar 
{
    border: 0px solid #00a69c !important;
}
.navbar-default .navbar-nav>li>a {
    color: #fff !important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form 
{
    background-color:#00a69c !important;border-color:#00a69c !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover
{
    color: #fff !important;
    background-color: #00a69c !important;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff !important;
}
.buttonCLass
{
	font-size:16px !important;color:#fff;background-color:#000 !important;border-color:#000 !important;margin:auto !important;display:block !important;
}
.control
{
	padding-left:20px;
	color:#ff6666;
}
.testRowClass
{
	margin-top:4% !important;
}
.submi
{
	margin-left:100px;
}
/*table css start*/

.tableClass
{
    text-align: center !important;
}
.viewTableBtn
{
    border:1px solid #00a69c !important;font-size:11px!important;font-weight: 600!important;width:100%!important;height: 100% !important;
}
.tableBadge
{
    background-color: #00a69c !important;color:#fff !important;padding: 6% !important;
}
.attdBtn
{
	font-size:16px !important;margin-topo:1% !important;width:20%;background-color:transparent !important;
}
.thText
{
    text-align: center !important;color:#ff6666 !important;font-size:14px !important;
}
.tdText
{
    font-size:13px !important;text-align: center !important;padding-top:1% !important;
}
.theadText  
{
    font-size:14px !important;
}
/*table css end*/
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
    background-color: #ff6666 !important;
    font-size:12px !important;
}
.navbar-default .navbar-nav .open {
    background-color: #ff6666 !important;
}

.footerDiv
{

    /*background:linear-gradient(to left,white,#323e60);*/
    background-color: #404041;
    margin-top:5%;
    width: 100%;;
    height: 80px;
}
.resetBtn
{
	cursor:pointer;border:1px solid #ff6666;border-radius:5px; color:#ff6666;font-size:10px;font-weight:600;
}
.footerDivIndex
{
    /*background:linear-gradient(to left,white,#323e60);*/
    background-color: #404041;
    margin-top:6%;
    width: 100%;;
    height: 70px;
}
.footers
{
    text-align: center !important;
    margin-top:2%;
    margin-right:10%;
}
.footersIndex
{
    text-align: center !important;
    margin-top:2%;
    
}
.firdiv
{
	/*background:linear-gradient(to right,white,#323e60);*/
	background-color:#e7e7e7 !important;
	border-top:1px Solid #00a69c !important;
	border-bottom:3px Solid #00a69c !important;
	width:100% !important;
	position:fixed !important;
	top:0 !important;
	z-index:1 !important;
	margin:0px !important;
	padding:0px !important;
	height: 50px !important;
}
	a
	{
		cursor:pointer !important;
		text-decoration:none !important;
		
	}
	a:hover
	{
		color:white;
		text-decoration:none;
	}
	thead
	{
	 color:#F44336;
	}
	tr:nth-child(even)
	{
    background-color: #dddddd;
	}
	.push
	{
		color:#ff6666;
		font-size:18px;
		padding-left:4% !important;
		padding-top:1% !important;
		
	}
	.formClass
	{
		border:1px solid #4e4e4e;border-radius:5px;margin:auto !important;margin-top:1% !important;width:92% !important;
	}
	.sub1
	{
		margin-left:5% !important;
		margin-top:2% !important;
		margin-bottom:2% !important;
		width:15% !important;
		font-size:18px !important;
	}
	
	.testname
	{	
	 font-size:14px;
	}
	.testfor
	{
		font-size:14px;	
	}
	.searchQPClass
	{
		font-size:18px;
		color:#ff6666;
		text-align:center;
	}
	.boxes
	{
		margin-left:20px !important;
		margin-right:10px !important;
		height:15px !important;
		width:15px !important;
		
	}
	.box
	{
		border-radius:5px;
	}
	.box1
	{
		margin-left:120px !important;
		
	}
	.box2
	{
		width:18px  !important;
		height:18px  !important;
		margin-top:-1px !important;
		margin-left:20px !important;
	}
	
	.create1
	{
		width:10% !importantx;
        margin:auto !important;
        display: block !important;
        color:white !important;
        background-color:black !important;
        border-color:#000 !important;
        font-size:20px  !important;
	}
	
	.topic
	{
		border-radius:5px;
		padding-top:0px;
	}
	.select
		{
			 border-radius:5px;
		}
		td
		{
			font-size:15px;
		}
		
		th
		{
			font-size:15px;
		}
		.question
		{
		padding-left:20px !important;
		}
		.option1
		{
			padding-left:10px !important;
		}
		.quesmark
		{
			margin-left:200px !important;
		}
		.published
		{
			float:left;
			color:#F44336;
			padding-right:80px;
			padding-left:350px;
			padding-top:10px;
		
		}
		.publishedby
		{
			float:left;
			color:#F44336;
			padding-top:10px;
			padding-left:10px;
		
		}
.check
{
	float:left;
	margin-top:1% !important;
}
.welcomeRow
{
	border:1px solid #4e4e4e;border-radius:5px;width:98%;margin:auro;margin-top:2%!important;
}
.formClassForPassChange
{
	border:1px solid #4e4e4e;border-radius:5px;margin:1px;height:350px;
}
.marginFormCLass
{!important
	margin-top:5%;
}
.testNameOfQPs
{
	color:#ff6666;
	padding-top:1%;
	font-size:16px;
	text-align:center;
}
.testNameTextHead
{
	color:#4e4e4e;font-weight:600;padding-top:1%;
}
.testDetailsQps
{
	font-weight:600;font-size:12px;
}
.resultBox
{
	padding:10px;border-radius:5px;font-weight:600;
}
.resultBox35
{
	border:2px solid red;color:red;
}
.resultBox75
{
	border:2px solid #bb3535;color:#bb3535;
}
.resultBox100
{
	border:2px solid green;color:green;
}
.graphRowQps
{
	border:1px solid #4e4e4e;border-radius:5px;
}
.noteTextClass
{
	font-size:14px;
}
.lookInDetailsText
{
	padding-top:1%;font-size:16px;text-align:center;font-weight:600;color:#ff6666;
}
.adviseClass
{
	text-align:center;color:#00a69c;font-weight:600;font-size:16px;
}
.QPNum
{
	color:#ff6666;font-size:18px;
}
.theoryQp
{
	font-size:18px;
	font-weight:600;
}
.allotedMarks
{
	color:#00a69c;font-weight:600;
}
.clrsClass
{
	border-radius:5px;padding:10px;font-weight:600;
}

.redClass
{
	color:red;border:2px solid red;
}
.clrAvg
{
	color:#bb3535;border:2px solid #bb3535;
}
.greenClass
{
	color:green;border:2px solid green;
}
.notificationClassMain
{
	color:#fff;background-color:#ff6666;margin-top:5% !important;padding:2%;border-radius:50%;
}
.notificationClassMain
{
	color:#fff;background-color:#ff6666;padding:3%;border-radius:50%;
}
.notificationClassSub
{
	color:#fff;background-color:#ff6666 !important;padding:3%;border-radius:50%;
}
.uploadResClass
{
	border:1px solid #4e4e4e;border-radius:5px;height:220px;width:50%;margin:auto;
}
.uploadResBtn
{
	margin:auto !important;dispaly:block !important;margin-top:5%;border:1px solid #ff6666 !important;color:#ff6666 !important;font-size:14px !important;
}


@media only screen and (max-width:768px)
	{
	    .menuDiv
	    {
		    margin-top:11%;
		    width:100%;
	    }
	    .testNameOfQPs
		{
			font-size:14px;
		}
		.QPNum
		{
			color:#ff6666;font-size:14px;
		}
		.theoryQp
		{
			font-size:14px;
			font-weight:600;
		}
		.uploadResClass
		{
			height:260px;width:80%;
		}
		.resSelect
		{
			text-align:left !important;
		}
		.clrsClass
		{
			padding:6px;
		}
		.testDetailsQps
		{
			font-size:11px;
		}
		.resultBox
		{
			padding:6px;margin-left:2%;
		}
		.noteTextClass
		{
			font-size:12px;
		}
	    .resetBtn
		{
			margin-top:2%;
		}
		.logoHome
		{
			width:50% !important;
			height:50px !important;
			margin-left:22%;
			margin-top:1% !important;
		}
		.pieChartCLass
		{
			border-top:1px solid #4e4e4e;
			border-left:0px solid #4e4e4e;
		}
		.formClassForPassChange
		{
			height:320px;
		}
		.logo
		 {
		    width: 34% !important;
		    height: 50px !important;
		    float: left;
		    margin-left: 2%;
		    margin-top: -14% !important;
		}
		.testRowClass
		{
			margin-top:15% !important;
		}
		.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
		    margin-right: 0px !important;
		    margin-left: 0px !important;
		}
		.welcomeNote
		{
			font-size:16px !important;
			text-align:center !important;
			padding-top:3% !important;
			color:#4e4e4e;
			
		}
		.footerDiv
		{

		    /*background:linear-gradient(to left,white,#323e60);*/
		    background-color: #404041;
		    margin-top:8%;
		    width: 100%;;
		    height: 43px;
		}
		.footerDivIndex
		{

		    /*background:linear-gradient(to left,white,#323e60);*/
		    background-color: #404041;
		    width: 100%;;
		    height: 43px;
		}
		.errorCLass
		{
			padding-top:1% !important;
		}
		.footers
		{
		    text-align: center;
		    margin-top:3.5%;
		    font-size:13px;
		}
		.footersIndex
		{
		    text-align: center !important;
		    margin-top:2%;
		    fobt-size:12px !important;
		}
		.quesmark
		{
			margin-left:1px !important;
		}
		.marginFormCLass
		{
			margin-top:10% !important;
		}
		.check1
		{
			margin-left:100px;
		}
		.question
		{
		padding-left:30px !important;;
		}
		.published
		{
			padding-right:10px;
			padding-left:10px;
			
			font-size:13px;
		
		}
		.publishedby
		{
			
			padding-left:10px;
			font-size:13px;
		
		}
		.option1
		{
			padding-left:0px !important;
			font-size:10px !important;
		}
		.box1
		{
			margin-left:10px !important;
			
		}
		.box2
		{
			width:15px  !important;
			height:15px  !important;
			margin-top:-1px !important;
			margin-left:-15px !important;
		}
		.navbar-default .navbar-toggle .icon-bar
		{
    		background-color: #fff;
		}
		.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover 
		{
			background-color: #ff6666;
		}
		.navbar-default .navbar-toggle 
		{
			border-color: #fff !important;
		}
		.testname
		{
		 padding-left:65px;	
		 font-size:15px;
		}
		.select
		{
			 margin-top:10px;
		}
		.create1
        {
            width:42%;
            margin:auto !important;
            display: block !important;
            margin-top:10px
        }
		.create1
		{
			width:40%;
			margin-left:60px;
		}
		.box
		{
			margin-left:40px;
		}
		.testfor
		{
			padding-left:5px;
			font-size:14px;
		}
		td
		{
			font-size:10px;
		}
		th
		{
			font-size:12px;
		}
		.control
		{
			font-size:18px;
		}
		.register
		{
			font-size:18px;
		}
		.firdiv
		{
			height:90px !important;
			font-size:14px;
		}
		.login
		{
			font-size:20px !important;
		}
		.admin
		{
			margin-top:10px;
			font-size:26px;
		}
		.forgot
		{
			font-size:11px !important;
		}
		.me
		{
			font-size:10px;
		}
		.remember
		{
			padding-left:0px;
			font-size:11px !important;
		}
		.innerdiv
		{
			height:1px;
			background-color:#323e60;
			width:100%;
			margin-top:10px;
			margin-left:0px;
		}
		.thirddiv
		{
			
			width:90%;
			margin-top:10px;
		}
		.name
		{
			font-size:10px;
		}
	
		.students
		{
			
			margin-left:50px;
			margin-top:20px;
			font-size:20px;
			font-family:calibri;
			color:F44336;
		}
		.halfdiv
		{
			
		}
		.end
		{
			text-align:center;
			color:white;
			padding-top:20px;
			font-size:10px;
		}
		.para
		{
			font-size:20px;
		}	
		.click
		{
			color:#F44336;
			padding-left:40px;
		}
		.new
		{
			font-size:11px;
		}
		.newstudent
		{
			font-size:15px;
		}
		.but
		{
			width:80%;
			margin-left:-15px;
		}
		
	}
	@media only screen and (max-width: 359px) and (min-width: 320px)
	{
		/*iPhone-5*/
		.menuDiv 
		{
		    margin-top: 28%;
		}	
		.welcomeDate 
		{
    		font-size: 9px !important;
		}
		.passChange
		{
			padding-right: 9px;
		}
		.testDetailsQps
		{
			font-size:11px;
		}
		
	}
	@media only screen and (max-width: 413px) and (min-width: 360px)
	{
		/*galaxy-5*/
		.menuDiv 
		{
		    margin-top: 24%;
		}
		.subHeadText
		 {
		    font-size: 20px !important;
		 }
		 .testDetailsQps
		{
			font-size:12px;
		}
	}
	@media only screen and (max-width: 767px) and (min-width: 414px)
	{
		/*iPhone-6*/
		.menuDiv 
		{
		    margin-top: 22%;
		}	
	}
	@media only screen and (max-width: 767px) and (min-width: 414px)
	{
		/*iPhone-6Plus*/
		 .testDetailsQps
		{
			font-size:13px;
		}
	}		
	